---
layout: layouts/base.njk
pageStyle: home
permalink: /
---
<p>
Its a Eleventy + Netlify CMS demo site
</p>

<div class="box-container">
    <a href='/posts' title='blogs' class='box-nav'>blogs</a>
    <a href='/authors' title='authors' class='box-nav'>authors</a>
</div>