.authors-list li {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

figure {
    width: 20%;
    height: 250px;
    border: 1px solid #fff;
    border-radius: 100%;
    overflow: hidden;
}

figure img {
    max-height: 100%;
}

.author-content {
    width: 50%;
    margin: auto 0;
}