---
layout: layouts/base.njk
---

<h2>{{title}}</h2>
<div class="author-container">
    <div class="author-details">
        <p>{{content | safe }}</p>
    </div>
    <a href='/authors' title='authors page' class="btn-back">Back to authors</a>
</div>